mixin pagination(p)
  nav.nav
    ul.nav-list
      if p.previous
        li.nav-item: a.pure-button(href=`/${p.previous.path}`) Previous
      if p.next
        li.nav-item: a.pure-button(href=`/${p.next.path}`) Next
