extends base

include mixins/pagination
include mixins/entry-link

block content
  .entries
    h1.content-subhead Entries #{pagination.num} / #{pagination.pages.length}

    each entry in pagination.files
      +entryLink(entry)

    +pagination(pagination)
