extends base

block content
  .entries
    h1.content-subhead Tags

    nav.nav
      ul.nav-list
        for data, tag in tags
          li.nav-item: a.pure-button(href=`/tags/${data.urlSafe}`) #{tag}
